
html {
    margin: 5px;
    padding: 5px;
    border: 5px;
}

body {
    /* background-image: url('../images/cork_1.png'); */
    /* background-color: lavenderblush; */
    /* color: #777777; */
    text-align: center;
}
h1 {
    padding-bottom: 20px;
    /* background-color:rgb(157, 184, 201);
    color: #FFFFFF; */
}
.box {
    border: 1px solid black;
    min-height: 250px;
    margin: 10px;
    text-align: center;
}

.choices {
    background-color: #FFFFFF;
    border-style: none;
    width: 100px;
    height: 28px;
    line-height: 28px;
    font-size: 22px;
    text-align: center;
    margin: 0 auto;
}

.choices:hover {
    background-color: #FFFFFF;
    border: 2px solid #87CEFA;
    width: 100px;
    height: 28px;
    line-height: 24px;
    font-size: 22px;
    text-align: center;
    margin: 0 auto;
    cursor: pointer;
}

.lastRow {
    text-align: center;
    align-content: center;
    font-weight: bold;
}

#result {
    display: flex;
    align-items: safe center;
    text-align: center;
}

#chatMessage {
    background-color: lightblue;
}

.lose { 
    color: red; 
}
.win {
    color: green;
}

.playerTitle {
    background-color: rgb(157, 184, 201);
    color: #FFFFFF;
    text-align: center;
    align-content: center;
}